.blog-wrapper{
    font-family: 'Zalando Sans Expanded', Poppins;
}

.blog-header{
    width: 100%;
    height: 15vh;
    margin-top: 15vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.blog-h{
    font-family: 'Zalando Sans Expanded', Poppins;
    color: rgba(255,255,255,0.92);
    font-size: 7vh;
    font-weight: 300;
}

.blog-exp{
    margin-top: 2vh;
    width: 100%;
    height: 15vh;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.b-exp{
    width: 50%;
    color: rgba(255,255,255,0.92);
    font-family: 'Zalando Sans Expanded', Poppins;
    line-height: 3vh;
}

.writing-header{
    height: 10vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.writing-h{
    font-size: 4vh;
    color: rgba(255,255,255,0.92);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: 400;
}

.topic{
    color: rgba(255,255,255,0.92);
    z-index: 999;
}

.dropdown-wrapper{
    position: relative;
    display: inline-block;
}

#topics{
    color: rgba(255,255,255,0.92);
    background-color: #101212;
    border: 1px solid #faf0f6;
    border-radius: 15px;
    height: 5vh;
    width: 9vw;
    font-family: 'Zalando Sans Expanded', Poppins;
    font-size: 2vh;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.2rem;
    cursor: pointer;
}

.dropdown-icon{
    position: absolute;
    right: 1rem;
    top: 55%;
    transform: translateY(-50%);
    color: #faf0f6;
    font-size: 1.5vh;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.blog-elements-wrapper{
    display: flex;
    grid-template-columns: 25vw 25vw 25vw;
    align-items: center;
    justify-content: center;
}

.blog-elements{
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}