@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Island+Moments&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.hero{
    /* make hero cover the viewport and center its content */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;   /* vertical centering */
    justify-content: center; /* horizontal centering */
    box-sizing: border-box;
    /* if you have a fixed navbar and expose --navbar-height, this will push content below it */
    padding-top: var(--navbar-height, 0);
    /* background-color: aqua; */
}

.hero-left{
    min-height: 100vh;
    width: 65%;
    /* background-color:blueviolet; */
    display: flex;
}

.hero-right{
    width: 33%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-photo{
    width: 50%;
    max-width: 260px;
    height: auto;
    display: block;
}

.hero-text{
    text-align: left;
    max-width: 820px;
    margin-top: 30vh;
}

.hero-header{
    margin: 0;
    font-size: clamp(1.8rem, 4.5vw, 3.6rem);
    color: #FAF0F6;
    font-family: 'Montserrat', cursive;
    font-weight: 500;
}

.fancy-text{
    font-family: 'Pinyon Script', sans-serif;
    margin-right: 25px;
    font-size: 15.5vh;
    font-weight: 500;
}

.seperator{
    border: 1px solid #FAF0F6;
    height: 1px;
    background-color: #FAF0F6;
    border-radius: 90%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.hero-exp{
    font-family: 'Montserrat', cursive;
    color: #FAF0F6;
    font-size: 3vh;
}

.fancy-text-small{
    font-family: 'Pinyon Script', sans-serif;
    margin-left: 5px;
    margin-right: 7px;
    font-size: 4vh;
    font-weight: 500;
}