@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Island+Moments&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Island+Moments&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.navbar{
    margin-top: 1vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    min-height: 60px;
    background-color: #3E3E3E;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.85);
    border-radius: 30px;
}

::selection{
  background-color: #FAF0F6;
  color: #3E3E3E;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-left img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    filter: drop-shadow(0 2px 6px rgba(255, 255, 255, 0.25));
}

.logo-text{
    margin-left: 1rem;
    font-weight: 400;
    font-size: 3vh;
    color: #fff;
    font-family: 'Zalando Sans Expanded', cursive;
}

.nav-items{
    border: none;
    width: 6vw;
    min-height: 40px;
    background-color: #FAF0F6;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-btn{
    font-family: 'Zalando Sans Expanded', Poppins;
    color: #3E3E3E;
    text-decoration: none;
    font-weight: 500;
}

.nav-items:hover{
    transition: 0.5s;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.85);
}